body {
    width: 100%;
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

#inp {
    flex-basis: 40%;
}

#app {
    /* flex-basis: 60%; */
    font-size: 24px;
    padding: 12px 24px;
}

.foldable {
    /* border: 1px solid red; */
    padding-left: 56px;
}
